*{
    font-family: 'Baskervville', serif;
    color: whitesmoke;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #b2d3e6;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    display: flex;
    justify-content: left;
    background-color: #68a7ca;
    height: 80px;
}
.navbar{
    margin-top: 20px;
    margin-left: 15px;
}
.navbar > ul{
    list-style-type: none;
    display: flex;
}
li{
    padding: 10px;
    font-weight: bolder;
}
.logo{
    margin-left: 500px;
    margin-top: 18px;
    font-weight: bolder;
}
.socialmedia{
    margin-left: 700px;
    margin-top: 25px;
}
.socialmedia > a{
    padding-right: 20px;
}
.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.left > .intro{
    font-size: xx-large; 
    color:#4390bc;   
}
.right > img{
    height: 700px;
    margin-top: 100px;
    border-radius: 50px;
}
.left > .intro > span{
    font-size: 50px;
}
.left > .info{
    color: #4390bc;
    font-size: large;
}
